@{
    ViewData["Title"] = "Home Page";
}
@model Track[]

<div class="text-center">
    <h1 class="display-4">Мои треки</h1>
</div>

<h2>Загрузить новый трек</h2>
<form asp-controller="Track" method="post" asp-action="AddTrack" enctype="multipart/form-data">
    <input class="btn btn-dark" type="file" name="file" id="file">
    <input class="btn btn-primary" type="submit" value="Загрузить">
</form>
<br>

@await Html.PartialAsync("TrackTable", Model)